# Configuración del Servidor
PORT=3000

# Credenciales para Basic Auth
BASIC_AUTH_USER=your_user
BASIC_AUTH_PASS=your_password

# Token secreto para la autenticación del cliente WebSocket
WEBSOCKET_TOKEN=your_token